/* FULL GRADIENT FOOTER */
.gradient-footer {
  background: linear-gradient(90deg, #06b6d4, #6366f1, #ec4899);
  background-size: 200% 200%;
  animation: footerGradient 8s ease infinite;
  /* margin-top:3vh; */

  padding: 20px 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
}

/* Gradient animation */
@keyframes footerGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Layout */
.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

/* Brand */
.footer-brand h2 {
  font-size: 32px;
  font-weight: 700;
}
.footer-brand h2 span {
  color: #ffe066;
}
.footer-brand p {
  font-size: 15px;
  color: #f1f5f9;
}

/* Links */
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-links h4 {
  font-size: 18px;
  color: #ffe066;
}

.footer-links a {
  display: block;
  color: #f8fafc;
  text-decoration: none;
  font-size: 15px;
  margin: 6px 0;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #ffe066;
  transform: translateX(5px);
}

/* Bottom */
.footer-bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: #f1f5f9;
  font-size: 14px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
  }
}
